@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

b{
	font-weight: normal;
	font-variant: small-caps;
}

.epub-type-z3998-poem p,
.epub-type-z3998-song p,
.epub-type-z3998-verse p{
	text-align: left;
	text-indent: 0;
}

.epub-type-z3998-poem p + p,
.epub-type-z3998-song p + p{
	margin-top: 1em;
}

.epub-type-z3998-poem p > span,
.epub-type-z3998-song p > span,
.epub-type-z3998-verse p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

.epub-type-z3998-poem p > span + br,
.epub-type-z3998-song p > span + br,
.epub-type-z3998-verse p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

p span.i3{
	text-indent: -1em;
	padding-left: 4em;
}

section.epub-type-epigraph{
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}

span.epub-type-subtitle{
	display: block;
	font-weight: normal;
}

.address{
	font-variant: small-caps;
}
